.Avatar {
    transition: opacity 0.5s ease; /* Smooth transition for transparency */
    opacity: 1; /* Fully visible by default */
  }
  
  .Avatar:hover {
    opacity: 0.9; /* Reduced transparency on hover */
  }