.NavLink {
    text-decoration: none;
    color: black;
    padding: 10px;
    margin: 0 10px;
}

.active {
    font-weight: bold;
    background-color: rgb(103, 118, 255);
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
    color: white;
}

.active:hover {
    color: white;
}

.navbarLogo {
  width: 190px;
  height: 36px;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .navbarLogo {
    width: 220px;
    height: 42px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .navbarLogo {
    width: 280px;
    height: 50px;
  }
}